Comenzamos con las importaciones para poder manejar el dataset

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df_datos = pd.read_csv('dataset_USA.csv')
df_datos.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,"79545.45857431678,5.682861321615587,7.00918814...",NaN,NaN,NaN,NaN,NaN,NaN
1,"Laurabury, NE 37010-5101""",NaN,NaN,NaN,NaN,NaN,NaN
2,"79248.64245482568,6.0028998082752425,6.7308210...",NaN,NaN,NaN,NaN,NaN,NaN
3,"Lake Kathleen, CA 48958""",NaN,NaN,NaN,NaN,NaN,NaN
4,"61287.067178656784,5.865889840310001,8.5127274...",NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Vemos tipos de datos
df_datos.describe()

,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

Ahora limpiaremos el dataset

In [ ]:
#